.group:after {
	visibility: hidden;
	display: block !important;
	font-size: 0;
	content: " " !important;
	clear: both;
	height: 0;
} 

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */



.vertical-align div {
	display: inline-block;
}


.area {
	width: 960px;
}