/* ******* START: IMPORTS ******* */

/* @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,100,300,100italic,300italic,400italic"); */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url("http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic");


/* *******  END: IMPORTS  ******* */

/* ******* START: CSS RESET ******* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	cursor: pointer;
}

a img {
	border: 0px;
}

header noscript {
	display: none;
}

ul {
	list-style: none;
}

/* TESTING */
.testing * {
	background: rgba(255, 0, 0, 0.1);
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4);
}
/* ******* END: CSS RESET ******* */

/* START: ELEMENTAL CSS CLASSES */
.text-align-center {
	text-align: center !important;
}
.text-align-left{
	text-align: left !important;
}

.hidden {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.attention {
	color: #909090;
	font-weight: bold;
}

.circle {
	border-radius: 100%;
}

.icon {
	height: 1em;
	margin-right: 1em;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
/*   END: ELEMENTAL CSS CLASSES */



/* START: WEBPAGE STYLING */

body {
	color: #606060;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	background: #333 url("/media/img/wavegrid.png");	
	box-shadow: 0px 0px 2em rgba(0, 0, 0, 0.15);
}


.principal-title {
	font-size: 5em;
}

.wrapper {
	max-width: 960px;
	margin: 0px auto; /* Horizontal align divs */
	
}

.catch-phrase {
	font-style: italic;
	background: #000;
	color: #FFF;
	font-size: 2em;
	padding: 5em 0em;
	
	text-align: center;
	background: url('/media/img/1.jpg') 50% 0% fixed no-repeat;
	background-size: cover;
	
	box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.25);
	text-shadow: 0px 0px 1px #000;
}

/* AREA STYLING */
.area {
	padding: 3em 0px;
	background: #F0F0F0 url('/media/img/1.png');
}

.area-title {
	font-size: 3em;
	font-weight: 400;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.area-description-column {
	text-align: justify;
	width: 45%;
	padding: 0em 2.5%;
}

/* SITEMAP STYLING */
#sitemap {
	color: white;
	background: url('/media/img/binding_dark.png') center;
	background: #202020 url('/media/img/binding_dark.png') center;
	text-align: center;
	box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-weight: 400;
	z-index: 9999;
	position: relative;
}
.fixed {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

.sitemap-link {
	width: 15%;
	display: inline-block;
	padding: 0.5em 1em;
	border-left: 1px solid #d0d0d0;
	text-decoration: none;
}

.sitemap-link.last {
	border-right: 1px solid #d0d0d0;
}

/* Color strips */
.color-strip {
	height: 0.25em;
	width: 20%;
	float: left;
}

/* PROJECT AND PEOPLE STYLING  */
.portfolio-projects, .about-people {
	margin: 4em 0em;
}

.project-image, .person-image {
	width: 90%;
	border: 1px solid #C0C0C0;
}

.project-name, .person-name {
	font-size: 1.5em;
	text-transform: uppercase;
}

/* PROJECTS */
.project {
	width: 30%;
	padding: 0px 1.666%;
	float: left;
}

/* PEOPLE  */
.person {
	width: 20%;
	padding: 0px 2.5%;
	float: left;
}

.person-image {
	border-radius: 50%;
}

.person-occupation {
	color: #808080;
	font-size: 1.25em;
	font-style: italic;
}

/* About styling */
.about-description {
	font-size: 1.5em;
}

.info {
	margin-bottom: 1em;
}

/*   END: WEBPAGE STYLING */

.button-form{
	text-decoration: none;
	padding: 20px 120px;
	box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.25) inset;
	border-radius: 5px;
	width: 350px;
}
.button-top{
	text-decoration: none;
	padding: 10px;
	box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.25) inset;
	border-radius: 5px;
	width: 100px;
}
.button-blue{
	background: none repeat scroll 0% 0% rgb(59, 89, 152);
}
.button-green{
	background: none repeat scroll 0% 0% rgb(83, 183, 0);
}
.button-red{
	background: none repeat scroll 0% 0% rgb(226, 45, 0);
}
/*   END: FORM STYLING */

/*FORM STYLE */
.input-text{
	padding: 10px;
	background: white;
	border-radius: 5px;
	border:1px solid gray;
	width: 100%;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	font-size: 1em;
}

/* UPLOAD PICTURES PASSION */
.image-preview-wrapper{
	width: 100px;
	height: 100px;
	margin: 5px;
	display: inline-block;
	border: 5px solid black;
	cursor: pointer;
}
.image-preview-wrapper:hover{
	background: url("/media/img/more-picture.png") no-repeat scroll transparent !important;
}
.input-file{
	display: none !important;
}
.form-label{
	font-size: 20px !important;
}
.font30{
	font-size: 30px !important;
	font-weight:bold;
}
.font20{
	font-size: 20px !important;
	font-weight:bold;
}
.font25{
	font-size: 25px !important;
}
.font15{
	font-size: 15px !important;
}

.inline-block{
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.a-top{
	color:blue;
	text-decoration: none;
	font-size: 20px;
}
.a-top-red{
	color:red;
	text-decoration: none;
	font-size: 12px;
}
.input-search{
	padding: 10px;
	border-radius: 8px;
	width: 400px;
	border: 1px solid #B3B3B3;
	background: #F8F8F8;
}
.margin10{
	margin:10px !important;
}
.content{
	margin: 0 auto !important;
	width: 800px;
}
.wrapper-div{
	background: white;
	-webkit-box-shadow: 0px 0px 0px 5px ;
	box-shadow: 0px 0px 0px 5px ; 
	padding: 20px;
	position: relative;
	top:20px;
}
.wrapper-div2{
	background: white;
	-webkit-box-shadow: 0px 0px 0px 5px ;
	box-shadow: 0px 0px 0px 5px ; 
	padding: 5px;
}