<script type="text/javascript">
	$(function() {
 		$("#srch").autocomplete({
			source: "/search/autocomplete/",
			minLength: 2,
		});
	});
</script>
<div class="top-bar text-align-center">
	{% if user.is_authenticated %}
	<div class="inline-block">
		<div class="inline-block">
			<img src=" https://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture?type=square ">
		</div>
		<div class="inline-block">
			<p class="font20">{{ user.get_full_name}}</p>
		</div>
	</div>
	{% endif %}
	<div class="inline-block">
		<a class="a-top" href="/passion/my-passions/">[My Passions]</a>
		<a class="a-top" href="/passion/new/">[Teach]</a>
		<a class="a-top" href="#">[Meetings]</a>
	</div>
	{% if user.is_authenticated %}
	<div class="inline-block">
		<a class="a-top-red" href="/logout/">Logout</a>
	</div>
	{% endif %}
	<div>
		<form action="/search/" method="GET">
			<input id="srch" class="input-search" type="text" name="q" placeholder="Find Passions">
			<input class="button-top button-green" type="submit" value="Search">
		</form>
	</div>
</div>