{% extends "base.html" %}

{% block content %}
		{% include 'django_facebook/_facebook_js.html' %}
		<div id="top"></div>
		<div id="sitemap" class="fixed">
			<a href="/" class="sitemap-link">WHAT'S KICKPASSION</a>
			<a href="#portfolio" class="sitemap-link">BENEFITS</a>
			<a href="#about" class="sitemap-link">COSTS</a>
			<a href="#contact" class="sitemap-link last">FAQ</a>
			
			<div class="colors-strip group">
				<div class="color-strip" style="background: #CC3221">&nbsp;</div>
				<div class="color-strip" style="background: #EDDA32">&nbsp;</div>
				<div class="color-strip" style="background: #5BA64C">&nbsp;</div>
				<div class="color-strip" style="background: #374394">&nbsp;</div>
				<div class="color-strip" style="background: #994395">&nbsp;</div>
			</div>
		</div>
		
		<div class="catch-phrase">
			<div class="wrapper group">
				"FIND YOUR PASSION AND CHANGE YOUR LIFE"
			</div>

			<div>
				<form action="{% url facebook_connect %}?facebook_login=1" method="post">
					<a href="javascript:void(0);" class="button-form button-blue" onclick="F.connect(this.parentNode);">
						JOIN US
					</a>
					<input type="hidden" name="next" value="{{ next|escape }}" />
					{% csrf_token %} 
				</form>
			</div>
			
		</div>

		<div id="content1" class="area">
			<div class="wrapper group">
				
				CONTENT 1
			
			</div>
		</div>

		<div class="catch-phrase" style="background-image: url('/media/img/31.jpg')">
			<div class="wrapper group">
				"En un árbol está contenido el universo. Si lo sabes ver, está el universo entero."</br>
				Antonio López
			</div>
		</div>

		<div id="conten2" class="area">
			<div class="wrapper group">
				
				CONTENT 2
			
			</div>
		</div>

		<div class="catch-phrase" style="background-image: url('/media/img/dali.jpg')">
			<div class="wrapper group">
				"También el alma, si quiere reconocerse, tendrá que mirarse en otra alma."</br>
				Platón
			</div>
		</div>

		<div id="conten2" class="area">
			<div class="wrapper group">
				
				CONTENT 3
			
			</div>
		</div>

		<div class="catch-phrase" style="background-image: url('/media/img/33.jpg')">
			<div class="wrapper group">
				"Para transformar el mundo hemos de comenzar por nosotros mismos.
				Esa es nuestra responsabilidad, la suya y la mía porque, por pequeño que sea el mundo en el que vivimos, si podemos aportar un punto de vista radicalmente diferente a nuestra existencia cotidiana, entonces tal vez podamos influir en el mundo en general."</br>
				Krishnamurti
			</div>
		</div>


		<div id="footer" class="area">
			<div class="wrapper group">
				Brainn Company &copy; 2013. All rights reserved.
			</div>
		</div>
{% endblock %}