{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<div class="content text-align-left wrapper-div">	
	<div class="text-align-center margin10">
		<h1 class="font30">Show your passion to the world</h1>
	</div>

	<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
		<div class="margin10">
			<label class="form-label">Select a category of your passion</label></br>
			{{ form.category }}
			{{ form.category.errors }}
		</div>
		<div class="margin10">
			<label class="form-label">Name of your passion</label></br>
			{{ form.name }}
			{{ form.name.errors }}
		</div>
		<div class="margin10">
			<label class="form-label">Youtube URL</label></br>
			{{ form.video_url }}
			{{ form.video_url.errors }}
		</div>
		<div class="margin10">
			<label class="form-label">Upload some pictures about your passion</label></br>
									<div>
									{{ form.picture1}}
									</div>

									<div>
									{{ form.picture2}}
									</div>

									<div>
									{{ form.picture3}}
									</div>

									<div>
									{{ form.picture4}}
									</div>

									<div>
									{{ form.picture5}}
									</div>

									<div class="image-preview-wrapper" onclick="$('#id_picture1').click()">
										<img src="{{ MEDIA_URL }}img/camera1.png" id="image1" width="100" height="100">
									</div>
									<div class="image-preview-wrapper" onclick="$('#id_picture2').click()">
										<img src="{{ MEDIA_URL }}img/camera1.png" id="image2" width="100" height="100">
									</div>
									<div class="image-preview-wrapper" onclick="$('#id_picture3').click()">
										<img src="{{ MEDIA_URL }}img/camera1.png" id="image3" width="100" height="100">
									</div>
									<div class="image-preview-wrapper" onclick="$('#id_picture4').click()">
										<img src="{{ MEDIA_URL }}img/camera1.png" id="image4" width="100" height="100">
									</div>
									<div class="image-preview-wrapper" onclick="$('#id_picture5').click()">
										<img src="{{ MEDIA_URL }}img/camera1.png" id="image5" width="100" height="100">
									</div>


		</div>

		<div class="margin10">
			<label class="form-label">Description of your passion</label></br>
			{{ form.description }}
			{{ form.description.errors }}
		</div>
		<div class="margin10">
			<label class="form-label">Location</label></br>
			{{ form.location }}
			{{ form.location.errors }}
		</div>
		<div class="text-align-center">
			<input style="color:black" class="button-form button-green" type="submit" value="Guardar">
		</div>
	</form>
</div>
{% endblock %}