{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<div class="content wrapper-div">

	<div class="text-align-center">
		<h1 class="font30">{{ passion.name }}</h1>
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Passion Name</label>
		</div>
		<div>
		{{ passion.name }}
		</div>
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Counselor</label>
		</div>
		<div>
		{{ passion.owner }}
		</div>
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Category</label>
		</div>
		<div>
			{{ passion.category }}
		</div>
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Youtube Video</label>
		</div>
		<div class="text-align-center">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/{{ passion.get_youtube_id }}" frameborder="0" allowfullscreen></iframe>	
		</div>
	</div>

	<div class="margin10 text-align-center">
		<div>
			<label class="font20">Some Pictures</label>
		</div>
		{% for picture in passion.pictures.all %}
		<img width="100" height="100" src="{{ picture.picture.url }}">
		{% endfor %}
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Description</label>
		</div>
		<div>
			{{ passion.description }}
		</div>
	</div>

	<div class="margin10">
		<div>
			<label class="font20">Localizacion</label>
		</div>
		<div>
			{{ passion.location }}
		</div>
	</div>
	<div class="text-align-center margin10">
		<a style="color:white;font-weight:bold;" class="button-form button-blue" href="#">JOIN IN</a>
	</div>
</div>
{% endblock %}